body {
  max-width: 1000px;
}

button {
  background-color: #cbeaed;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  color: #222831;
  font-size: 14px;
}

.container {
  border: solid 1px #222831;
  background: linear-gradient(#fffde4, #2e92eb);
  border-radius: 10px;
  padding: 40px 80px;
  margin: 50px 50px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #222831;
}

.currentWeather {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #ffffff;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
}

.mainTemp {
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
}

.fas {
  padding-right: 10px;
  float: left;
}

.units {
  position: relative;
  top: -30px;
}

.weather-forecast {
  text-align: center;
  font: #ffffff;
  padding: 10px;
}

.active {
  color: #222831;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #222831;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
